<!DOCTYPE html>
<html>
<head>
  <title>Minha Página</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      text-align: center;
    }
    
    h1 {
      font-size: 3em;
      margin-top: 50px;
    }
    
    #botao {
      height: 20px;
      width: 10%;
      display: block;
      margin: 50px auto 0;
      padding: 10px 20px;
      background-color: #007bff;
      color: #fff;
      font-size: 1.2em;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>Chamada</h1>
  <a href="/turma" id="botao">Abrir turma</a>
</body>
</html>

